code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 14px;
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 14px;
    background-color: #f8f8f8;
    border: 1px solid #6b2222;
    border-radius: 4px;
    padding: 10px;
}