body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.site-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 2rem;
}

.site-header > h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 1rem;
}

.header-nav {
    display: flex;
}

.header-nav > a {
    margin: 0 1rem;
    font-family: "Poppins", sans-serif;
    color: orchid;
    text-decoration: none;
    transition: color .3s ease-in-out;
}

.header-nav > a:hover {
    color: purple;
}

.wrapper {
    display: flex;
}

.sidebar {
    width: 0;
    height: 100vh;
    background: #333;
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar-subtitle {
    margin-left: 1rem;
}

.menu-item-link {
    display: block;
    padding: 1rem 0;
    width: 100%;
    text-decoration: none;
    color: white;
}

.menu-item-link:hover {
    background: white;
    color: #007bff;
}

.menu-item-link span {
    display: block;
    padding-left: 2rem;
}

.avater-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.avatar {
    height: 100px;
    width: 100px;
    background: red;
    border-radius: 100px;
}

.content-wrapper {
    /*margin: 0 auto;*/
    width: 100%;
}

.content {
    margin: 2rem;
    flex: 1;
    max-width: 1200px;
    width: 100%;
}

.menu-btn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    position: fixed;
    z-index: 2;
    display: none;
    top: 1rem
}

.single-task-content {
    display: flex;
    flex-wrap: wrap;
}

.live-demo-link {
    display: block;
    margin: 1rem;
}

.live-prev-frame {
    max-width: 600px;
    width: 100%;

}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 0;
    }

    .content {
        margin-left: 0;
    }

    .menu-btn {
        display: block;
    }
}

@media screen and (min-width: 600px) {
    .menu-btn {
        display: block;
        background: #616128;
        left: 0;
        padding-left: 1rem;
        border-radius: 0 1rem 1rem 0;
    }
}
