body {
    font-family: "Poppins", sans-serif;
}

.site-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 2rem;
}

.site-header > h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 1rem;
}

.header-nav {
    display: flex;
}

.header-nav > a {
    margin: 0 1rem;
    font-family: "Poppins", sans-serif;
    color: orchid;
    text-decoration: none;
    transition: color .3s ease-in-out;
}

.header-nav > a:hover {
    color: purple;
}

.live-demo-link {
    display: block;
    margin: 1rem;
}